@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

html, body
{
	/* black background */
	background-color: #000;

	/* global font */
	color: #fff;
	font-family: "Roboto Mono", monospace;
	font-size: 24px;

	/* no margin */
	margin: 0;
}

#title
{
	/* textboxes */
	max-width: max-content;
	margin: 0;
	padding: 60px;
}

#name
{
	/* make my name big */
	font-weight: bold;
	font-size: 48px;
	display: block;
}

.body
{
	/* for the body paragraph */
	max-width: max-content;
	margin: 0;
	padding: 60px;
	padding-top: 0px;
}

.links
{
	/* lock to the bottom right */
	text-align: right;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 60px;
	position: fixed;
}

/* cool animated text */
#typewriter
{
    /* cursor */
    text-overflow: "█";

    /* crop text */
    max-width: max-content;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;

    /* animation */
    animation-name: typing;
    animation-duration: 6s; 
    animation-iteration-count: .2;
    animation-timing-function: linear;
}

.container
{
	/* lock to the bottom left */
	text-align: left;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 60px;
	position: fixed;
	font-size: 16px;
	white-space: nowrap; 
	width: 60ch;
}

/* mobile devices */
@media (pointer:none), (pointer:coarse) and (orientation: portrait)
{
	#title
	{
		padding-top: 375px; 
	}

	#name
	{
		width: min-content;
		font-size: 1.5em;
	}

	.links
	{
		padding-bottom: 375px;
	}

	html, body
	{
		font-size: 1.5em;
	}

	.container
	{
		margin-left: auto;
		bottom: 0;
	}
}

/* shrink game in mobile landscape */
@media (pointer:none), (pointer:coarse) and (orientation: landscape)
{
	#title
	{
		padding: 0.75em; 
	}

	.links
	{
		padding: 0.75em;
	}

	.container
	{
		font-size: 0.4em;
	}
}

.hover
{
	cursor: pointer;
}


a:link, a:visited
{
	/* links stay white */
	color: #fff;
}

:selection
{
	/* invert selection */
	background: #fff;
	color: #000;
}

/* blinking cursor */
#typewriter:after
{
	/* cursor */
	content: "█";

	/* hidden by default */
	visibility: hidden;

	/* animation */
	animation-name: cursor;
	animation-duration: .7s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

/* blinking cursor animation */
@keyframes cursor
{
	0%, 49%
	{
		visibility: hidden;
	}

	50%
	{
		visibility: visible;
	}
}

/* typing animation */
@keyframes typing
{
    0%  
    {   
        width: 0;
    }   

    20%, 90% 
    {   
        width: 100%;
    }   

    100%
    {   
        width: 0;
    }   
}
