html
{
	height: 100vh;
    border: solid;
	border-width: 30px;
	border-color: #787878;
	box-sizing: border-box;
	overflow: hidden;
}

body
{
	background-color: #373737;
}

h1, p
{
	font-family: "Roboto", sans-serif;
}

h1
{
	font-size: 60px;
	margin: 0px;
	color: white;
}

#headerText
{
	color: white;
	left: 50vw;
	top: 100px;
	transform: translateX(-50%);
	position: absolute;
}

#subheading
{
	font-size: 30px;
	margin-top: -6px;
}

.item1 {grid-area: portrait;}
.item2 {grid-area: heading;}
.item3 {grid-area: subheading;}

#footer
{
	position: absolute;
	left: 50vw;
	bottom: 100px;
	transform: translateX(-50%);
}

#portrait
{
	border-radius: 50%;
	width: 200px;
}

#footertext
{
	font-size: 18px;
	color: #787878;
}

a:link {color: #787878;}
a:visited {color: #787878;}
a:hover {color: #787878;}
a:active {color: #787878;}